body{
  background: linear-gradient(90deg, #faa81f 0%, #f45b8c 100%);
}

h1{
  padding: 50px;
  text-align: center;
  color: white;
  font-family: 'Questrial', sans-serif;
  text-shadow: 0px 2px 2px #c8c8c8;
}

.login{
  text-align: center;
}

.albumArt{
  height: 190px;
  object-fit: cover;
}

/* img.card-img-top:hover{
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
} */

div.card-body{
  padding: 5px;
  text-align: center;
  font-size: 25.5vw;
  font-family: 'Questrial', sans-serif;
}

div.card-title{
  margin-bottom:0;
  font-size: 2.5vh;
  font-weight: bold;
  padding-bottom: 5px;
}

.querySelector{
  text-shadow: 0px 2px 2px #c8c8c8;
  display: inline;
  font-family: 'Questrial', sans-serif;
  color: white;
  background:transparent;
  border-width: 0;
}

option{
  color: white;
  background:transparent;
}

.queryStatement{
  display: inline;
  color: white;
  font-family: 'Questrial', sans-serif;
  text-shadow: 0px 2px 2px #c8c8c8;
}

.query{
  text-align: center;
}

.dropdown-toggle{
  display: inline;
  margin: 10px;
}

.btn-primary, .btn-primary.dropdown-toggle, .dropdown-item {
  background:transparent;
  border-color: white;
  border-width: 0;
  padding: 0;
  font-size: 1.75rem;
}

button.btn-primary, button.btn-primary.dropdown-toggle, button.dropdown-item {
  border-color: white;
}

.dropdown-menu, .dropdown-menu.show{
  background:transparent;
  color: white;
  border-width: 0;
}

.results{
  padding: 50px;
}

a.dropdown-item{
  color:white;
}

.btn-group-lg>.btn, .btn-lg{
  font-family: 'Questrial', sans-serif;
}

.test{
  background-color: black;
  width: 100px;
  height: 100px;
}
